.body{
    font-family: 'Courier New', Courier, monospace;
}

.app{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}

.timer{
    width: 150px;
    text-align: center;
    padding: 15px;

    background:#e6f2ff;
    border-radius: 8px 8px 0px 0px;
}

.btn{
    text-align: center;
    width: 160px;
    padding: 15px;
    background: #ffe6e6;
    border-radius: 0px 0px 8px 8px;
}

